<div id="main_container">

  <div class="content_area">
    <img class="mainImg" src="../../../assets/vishnuji.svg" alt="vishnuji">
    <div class="footer_content">
      <div class="contactUs">
        <h2>Contact Us</h2>
        <div class="contacts">
          <div class="email">
            <img src="../../../assets/email.svg" alt="email">
            <p>create@shreeva.com</p>
          </div>
          <div class="phone">
            <img src="../../../assets/phone.svg" alt="phone">
            <p>+91 99999111111</p>
          </div>
          <div class="whatsapp">
            <img src="../../../assets/whatsapp.svg" alt="whatsapp">
            <p>+91 888887777</p>
          </div>
        </div>

      </div>
      <div class="social_links">
        <div class="link_imgs">
          <img src="../../../assets/facebook.svg" alt="facebook">
          <img src="../../../assets/insta.svg" alt="instagram">
          <img src="../../../assets/twitter.svg" alt="twitter">
          <img src="../../../assets/linkedin.svg" alt="linkedin">
        </div>
        <p>Privacy Terms & Conditions</p>
      </div>
      <div class="rights">
        <h1>SHREEVA</h1>
        <p>© 2022 Shreeva All Rights Reserved.</p>
      </div>
    </div>
  </div>
  <img class="footerBg" src="../../../assets/newfooterbg.svg" alt="">
</div>