<div id="main_container">
  <div class="content_area">
    <div class="content_head">
      <img src="../../../assets/Group.svg" alt="group">
      <div class="border_bottom">
        <h1>Contact Us</h1>
        <div class="border_bottom_div">
        </div>
      </div>
      <img src="../../../assets/Group.svg" class="rev_img" alt="">
    </div>
    <div class="form_card">
      <img class="flower left" src="../../../assets/cflL.svg" alt="cfl">
      <img class="flower right" src="../../../assets/cflR.svg" alt="cfl">
      <div class="form_card_div">
        <div class="card">
          <input type="text" placeholder="Name">
          <input type="email" placeholder="Email">
          <input type="number" placeholder="WhatsApp Number">
          <input type="text" placeholder="Type Your Message Here">
          <input class="btn" type="submit" value="Free Consultation">
        </div>
      </div>
    </div>
  </div>
</div>