<div id="intro_container">
  <div id="content">
    <h1>What We Are And What We Do</h1>
    <div class="content_p">
      <p>We Have The Unique Ability To Understand Your Business And To Create Tools And Platform</p>
      <p>With The Leading Edge Technology That Will Transform Your Vision Into Reality.</p>
    </div>
    <button class="explore_btn">Explore Our Services</button>
  </div>

  <div class="intro_img">
    <img class="main_img" src="../../../assets/devices.png" alt="">
  </div>
</div>