<div id="main_container">
  <div class="content_area">
    <div class="content_head">
      <img src="../../../assets/Group.svg" alt="group">
      <div class="border_bottom">
        <h1>Our Work</h1>
        <div class="border_bottom_div"></div>
      </div>
      <img src="../../../assets/Group.svg" class="rev_img" alt="">
    </div>
    <div class="content_head_p">
      <p>As the next-gen Android and iPhone App Development, we believe in catalysing success for
        the
      </p>
      <p>business. Here are a few specimens of Shreeva’s proficiency and expertise.
      </p>
    </div>
    <div class="content">
      <div class="content_data">
        <h1>Mahavadnya</h1>
        <p>A <span>shared workspace booking</span> application.built while keeping <span>ease of
            access</span> & <span>budget</span> constraints <span>of students</span>
          in mind</p>
      </div>
      <img src="../../../assets/image/Group 9832.svg" alt="">
    </div>
    <div class="solution">
      <img src="../../../assets/Ellipse 5608.svg" alt="Ellipse">
      <div class="solution_data">
        <div class="solution_img">
          <img src="../../../assets/Group 9833.svg" alt="">
          <img src="../../../assets/Group 9834.svg" alt="">
        </div>
        <div class="solution_written_data">
          <h1>Hey<br />We Have Solution...</h1>
          <div>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
              has been the
              industry's standard dummy text ever since the 1500s.</p>
            <p>when an unknown printer took a galley of type and scrambled it to make a type
              specimen book. It has
              survived not only five centuries, but also the leap into electronic typesetting,
              remaining
              essentially unchanged. It was popularised in the 1960s.</p>
            <p><span class="underline">the
                release of Letraset
                sheets containing Lorem
                Ipsum passages, and more recently
                with desktop
                publishing software like.</span> Aldus PageMaker including versions of Lorem Ipsum.
            </p>
            <h4>Let’s build a great product that delights users and gets results!</h4>
            <button class="explore_btn">Explore Our Services</button>

          </div>
        </div>
      </div>
      <img src="../../../assets/Ellipse 5608.svg" style="margin-bottom: 2rem;" alt="Ellipse">
    </div>
    <!-- <swiper [slidesPerView]="3" [spaceBetween]="50" (swiper)="onSwiper($event)"
      (slideChange)="onSlideChange()" [navigation]="true" [pagination]="{ clickable: true }"
      [scrollbar]="{ draggable: true }">
      <ng-template swiperSlide>Slide 1</ng-template>
      <ng-template swiperSlide>Slide 2</ng-template>
      <ng-template swiperSlide>Slide 3</ng-template>
      <ng-template swiperSlide>Slide 4</ng-template>
      <ng-template swiperSlide>Slide 5</ng-template>
      <ng-template swiperSlide>Slide 6</ng-template>
    </swiper> -->
  </div>
</div>